@import '../../lib/bootstrap-3.3.4/less/bootstrap.less';

@brand-primary: #008CCA;
	@brand-primary-dark: darken(@brand-primary, 10%);
@brand-success: #89C251;
	@brand-success-dark: darken(@brand-success, 10%);
@brand-info: 	#5bc0de;
	@brand-info-dark: darken(@brand-info, 10%);
@brand-warning: #f0ad4e;
	@brand-warning-dark: darken(@brand-warning, 10%);
@brand-danger:  #DC5134;
	@brand-danger-dark: darken(@brand-danger, 10%);
@brand-purple:  #6F2586;
	@brand-purple-dark: darken(@brand-purple, 10%);

@font-size-base: 1.6em;
@input-height-base: 2.3em;


@font-size-h1: 3em;
@font-size-h2: 2.5em;
@font-size-h3: 2em;
@font-size-h4: 1.6em;
@font-size-h5: 1.3em;
@font-size-h6: 1em;


@icon-font-path: '../../lib/bootstrap-3.3.4/fonts/';


h4, .h4, h5, .h5, h6, .h6 {
	font-weight: normal;
	font-family: @lead-font-family
}

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

.btn{
	font-size: inherit;
	font-family: @lead-font-family;
	&.btn-primary{
		border-bottom: 5px solid @brand-primary-dark;
	}
	&.btn-success{
		border-bottom: 5px solid @brand-success-dark;
	}
	&.btn-info{
		border-bottom: 5px solid @brand-info-dark;
	}
	&.btn-warning{
		border-bottom: 5px solid @brand-warning-dark;
	}
	&.btn-danger{
		border-bottom: 5px solid @brand-danger-dark;
	}
	&.btn-purple{
		color: #fff;
		background-color: @brand-purple;
		border-color: @brand-purple-dark;
		border-bottom: 5px solid @brand-purple-dark;
		&:hover,
		&:focus{
			background-color: @brand-purple-dark;
		}
	}
}

.dropdown-menu{
	font-size: inherit;
	font-family: @lead-font-family;
}


.panel{
	border: none;
	box-shadow: none;
	.panel-heading{
		color: #fff;
		text-align: center;
		font-family: @lead-font-family;
	}
	.panel-heading{
		>a{
			display: block;
			&:hover,
			&:focus{
				color: #fff !important;
			}
		}
	}
	.panel-body{
		ul{
			li{
				a{
					display: block;
					border-bottom: 1px solid @lead-gray-dark;
					padding: 4px 0;
					
					&:hover,
					&:focus{
						background-color: @lead-blue-dark;
						color: #fff;
					}
					
				}
				&:last-child{
					a{
						border-bottom: none;
					}
				}
			}
		}			
	}
	
	&.panel-primary{
		.panel-heading{
			background-color: @brand-primary;
		}
	}
	&.panel-success{
		.panel-heading{
			background-color: @brand-success;
		}
	}
	&.panel-info{
		.panel-heading{
			background-color: @brand-info;
		}
	}
	&.panel-warning{
		.panel-heading{
			background-color: @brand-warning;
		}
	}
	&.panel-danger{
		.panel-heading{
			background-color: @brand-danger;
		}
	}
	&.panel-purple{
		.panel-heading{
			background-color: @brand-purple;
		}
	}
	.panel-heading{
		padding: 6px 15px;
	}
	
	&.lead-panel{
		background: none;
		.panel-heading{
			border-bottom: 10px solid;
		}
		.panel-body{
			padding: 15px 0;	
		}
		&.panel-primary{
			.panel-heading{
				border-bottom-color: @brand-primary-dark;
			}
	    }
	    
		&.panel-success{
			.panel-heading {
				border-bottom-color: @brand-success-dark;
			}
		}
	
	    &.panel-info{
			.panel-heading{
				border-bottom-color: @brand-info-dark;
			}
	    }
	    &.panel-warning{
			.panel-heading{
				border-bottom-color: @brand-warning-dark;
	      	}
	    }
	    &.panel-danger{
	      	.panel-heading{
	        	border-bottom-color: @brand-danger-dark;
	      	}
	    }
	    &.panel-purple{
	      	.panel-heading{
	        	border-bottom-color: @brand-purple-dark;
	      	}
	    }
	    .panel-heading{
	      	padding: 6px 15px;
	    }
	}
}

.panel-group{
	.panel{
		.panel-heading{
			padding: 5px;
		}
		.panel-title{
			font-size: 1.2em;
			a{
				display: block;
			}
		}
	}
}


.form-control{
	font-size: 1em;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.form-group{
	margin-bottom: 25px;
}

label{
	font-weight: normal;
}

fieldset{
	border: 1px solid @lead-gray-base;
	padding: 15px;
}

.form-control-static{
	border-bottom: 2px solid darken(@lead-gray-dark, 10%);
	min-height: inherit;
	color: darken(@lead-gray-dark, 15%);
}

.tooltip{
	font-size: 1em;
}

.note-editor{
	border: none;
	
	.note-toolbar{
		border: none;
		font-size: .8em;
		background-color: @lead-gray-base;
		margin-left: 0;
	}
	.note-editable{
		.form-control;
		min-height: 100px;
		max-height: 500px;
		height: inherit;
	}
	
	&.fullscreen{
		.note-editable{
			max-height: inherit;
		}
	}
}

/********************/

.preload{
	text-align: center;
	.bar{
		width: 6px;
		height: 8px;
		background-color: @lead-gray-xdark;
		display: inline-block;
		-webkit-animation: preload 0.8s linear infinite;
		margin-left: 1px;
		margin-right: 1px;
		
		&.bar-2{
			-webkit-animation-delay: 0.266s;
		}
		&.bar-3{
			-webkit-animation-delay: 0.532s;
		}
	}
	@-webkit-keyframes preload{
		0%{ -webkit-transform: scaleY(1);}
		50%{ -webkit-transform: scaleY(3);}
		100%{ -webkit-transform: scaleY(1);}
	}
	@-moz-keyframes preload{
		0%{ -moz-transform: scaleY(1);}
		50%{ -moz-transform: scaleY(3);}
		100%{ -moz-transform: scaleY(1);}
	}
	@-ms-keyframes preload{
		0%{ -ms-transform: scaleY(1);}
		50%{ -ms-transform: scaleY(3);}
		100%{ -ms-transform: scaleY(1);}
	}
}


@font-face {
  font-family: 'museo';
  src: url('../../fonts/museo300/museosans-300-webfont.ttf');
  src: url('../../fonts/museo300/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/museo300/museosans-300-webfont.woff') format('woff'),
  url('../../fonts/museo300/museosans-300-webfont.ttf') format('truetype'),
  url('../../fonts/museo300/museosans-300-webfont.svg#museobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museobold';
  src: url('../../fonts/museo500/museosans_500-webfont.ttf');
  src: url('../../fonts/museo500/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/museo500/museosans_500-webfont.woff') format('woff'),
  url('../../fonts/museo500/museosans_500-webfont.ttf') format('truetype'),
  url('../../fonts/museo500/museosans_500-webfont.svg#museobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museobolder';
  src: url('../../fonts/museo700/museosans_700-webfont.ttf');
  src: url('../../fonts/museo700/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/museo700/museosans_700-webfont.woff') format('woff'),
  url('../../fonts/museo700/museosans_700-webfont.ttf') format('truetype'),
  url('../../fonts/museo700/museosans_700-webfont.svg#museobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museoregular';
  src: url('../../fonts/museoregular/Museo500-Regular-webfont.ttf');
  src: url('../../fonts/museoregular/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/museoregular/Museo500-Regular-webfont.woff') format('woff'),
  url('../../fonts/museoregular/Museo500-Regular-webfont.ttf') format('truetype'),
  url('../../fonts/museoregular/Museo500-Regular-webfont.svg#museobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'audiowide';
  src: url('../../fonts/audiowide_regular/Audiowide-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@lead-gray-base: #DEDEDE;
@lead-gray-light: lighten(@lead-gray-base, 3%);
@lead-gray-xlight: lighten(@lead-gray-base, 8%);
@lead-gray-dark: lighten(@lead-gray-base, -8%);
@lead-gray-xdark: lighten(@lead-gray-base, -45%);

@lead-blue-light: lighten(@brand-primary, 5%);
@lead-blue-dark: lighten(@brand-primary, -5%);
@lead-blue-xdark: lighten(@brand-primary, -20%);

@lead-font-family: museoregular,Arial,sans-serif;
@lead-font-family-aux: 'audiowide';



body{
	background: @lead-gray-xlight;
	color: @lead-gray-xdark;
}

ul{
	margin: 0;
	padding: 0;
	li{
		list-style: none;
	}
}

a{
	text-decoration: none !important;
	transition: .3s;
	color: inherit;
}

button{
	transition: .3s;
}


#wrapPage{
	//padding-top: 5px;
}


#accessibilityBar{
	padding: 5px 0;
	margin-bottom: 5px;
	font-family: @lead-font-family;

	ul{
		li{
			display: inline-block;
			margin-right: 5px; 
			span.key, a{
				font-size: 1.1em;
				background-color: @lead-gray-dark;
				padding: 4px 0;
				min-width: 34px;
				display: inline-block;
				text-align: center;
			}
		}
		a{
			&:hover,
			&:focus{
				color: inherit;
				background-color: @lead-gray-base;
			}
			
			&#btFontIncrease,
			&#btFontReset,
			&#btFontDecrease{
				font-family: @lead-font-family-aux;
			}
		}
	}
	
	&.margined-bottom{
		margin-bottom: 103px;	
	}
}


#navigationBar{
	background-color: @brand-primary;
	font-family: @lead-font-family;
	padding: 8px 0;
	margin: 0;
	border: none;
	
	&.fixed{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
	}
	
	img.logo{
		float: left;
	}
	
	.navbar-header{
		.navbar-toggle{
			.icon-bar{
				background-color: #fff;
			}
		}
	}
	
	ul{
		float: right;
		li{
			display: inline-block;
			a{
				color: #fff;
				font-size: 1.05em;
				margin-left: 10px;
  				padding: 5px;
				line-height: 75px;
				border-bottom: 5px solid transparent;
				&:hover,
				&:focus{
					border-bottom: 5px solid #fff;
				}
				
			}
		}
	}
	
	
	@media (max-width: @screen-sm-max) {
		img.logo{
			width: 120px;
		}
		ul{
			li{
				a{
					line-height: 50px;
				}
			}
			&.user-bar{
				border-top: 2px solid #fff;
       			li.user-item{
	       			background-color: @lead-blue-light;
					padding: 10px;
					text-align: left;
					color: #fff;
					
					ul{
						li{
							display: inline-block;
							a{
								border: none;
								border-radius: 100px;
								padding: 8px;
								&:hover,
								&:focus{
									background-color: @brand-primary;
									
								}
								i{
									width: 20px;
								}
							}
							&.exit{
								a{
									&:hover,
									&:focus{
										background-color: @brand-danger;
									}
								}
							}
						}
					}
					
       			}
       			img{
       				width: 55px;
       				border-radius: 100px;
       				border: 1px solid #fff;
       				padding: 2px;
       			}
			}
		}
	}
	
	@media (max-width: @screen-sm-min) {
		.navbar-collapse{
			margin-top: 8px;
		}
	
		ul{
			float: none;
			li{
				display: block;
				text-align: center;
				a{
					line-height: 50px;
				}
			}
		}
	}
}

.lead-filebrowser{
	
	input[type="file"]{
		display: none;
	}
	.lead-filebrowser-area{
		background-color: @lead-gray-base;
		cursor: pointer;
	}
}

#userBar{
	background-color: #fff;
	font-family: @lead-font-family;
	.container{
		padding: 0;
		>ul{
			>li{
				display: inline-block;
				>a{
					padding: 12px;
	  				display: block;
					&:hover,
					&:focus{
						//background-color: @lead-blue-dark;
					}
				}
			}
		}
		
		#userButton{
			#userProfileButton{
				display: inline-block;
				img{
					width: 40px;
					border-radius: 100px;
					margin-right: 5px;
				}
			}
			#userDownButton{
	  			display: inline-block;
	  			i{
					line-height: 45px;
					width: 40px;
					margin-left: 10px;
					text-align: center;
					border-left: 1px solid @lead-gray-dark;
					border-right: 1px solid @lead-gray-dark;
	  			}
	  			
			}
			ul{
				text-align: center;
				background-color: @brand-primary;
				padding: 4px;
				li{
					a{
						color: #fff;
						padding: 5px 60px;
						&:hover,
						&:focus{
							background-color: @lead-blue-xdark;
						}
					}
				}
			}
		}
	}
	
}

#oasBar{
	background-color: @lead-blue-dark;
	.navbar-header{
		h6{
			color: #fff;
			padding-left: 25px;
		}
		.navbar-toggle{
			.icon-bar{
				background-color: #fff;
			}
		}
	}
	
	ul{
		li{
			display: inline-block;
			a{
				color: #fff;
				font-size: 0.9em;
  				padding: 12px;
				display: block;
				&:hover,
				&:focus,
				&.active{
					background-color: @lead-blue-xdark;
				}
			}
		}
		
		@media (max-width: @screen-sm-min) {
			li{
				display: block;
			}
		}
		
	}
}

#breadcrumb{
	font-family: @lead-font-family;
	margin-top: 30px;
	margin-bottom: 30px;
  	font-size: 0.8em;
	ul{
		li{
			display: inline-block;
			i{
				font-size: .9em;
			}
		}
	}
}

h1.page-title,
h2.page-title,
h3.page-title,
h4.page-title,
h5.page-title,
h6.page-title{
	color: @brand-primary;
	border-top: 1px solid @brand-primary;
	border-bottom: 1px solid @brand-primary;
	text-align: center;
	display: table;
	margin: 0 auto;
	margin-top: 20px;
}

h1.page-subtitle,
h2.page-subtitle,
h3.page-subtitle,
h4.page-subtitle,
h5.page-subtitle,
h6.page-subtitle{
	color: @brand-primary;
	text-align: center;
	display: table;
	margin: 20px auto;
}


section#main{
	min-height: 200px;
}

.pie-chart{
	display: inline-block;
	background-color: @lead-blue-dark;
	border-radius: 100px;
	margin: 40px;
	position: relative;
	canvas{
		margin: -24px;
  	}
  	span{
  		font-family: @lead-font-family;
		position: absolute;
		width: 100%;
		text-align: center;
		top: 50%;
		font-size: 1.4em;
		color: #fff;
		padding: 0 20px;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
  	}
}

.scroll{
	overflow: auto;
}

#dashboard, #admin{
	#inbox{
		margin-bottom: 25px;
		.table{
			thead{
				tr{
					th{
						font-family: @lead-font-family;
						border: 1px solid @lead-gray-xdark !important;
						font-weight: normal;
						color: @lead-gray-xdark;
					}
				}
			}
			tbody{
				tr{
					td{
						img{
							border-radius: 100px;
							width: 45px;
						  	height: 45px;
						}
						vertical-align: middle;
					}
				}
			}
		}
	}
	
	#videoConference{
		margin-bottom: 25px;
		ul{
			 margin: 30px 10px;
			a{
				text-decoration: underline !important;
			}
		}
	}
}



.calendar{
	.days{
		margin-top: 20px;
		text-align: center;
		.week{
			width: 13%;
		  	display: inline-block;
			ul{
				li{
					margin: 1px;
					&.name{
						background-color: @lead-blue-dark;
						color: #fff;
						padding: 5px;
						margin-bottom: 3px;
					}
					&.sunday,
					&.saturday{
						background-color: @lead-gray-dark;
					}
					
					&.today{
						a{
							background-color: @lead-blue-dark;
							color: #fff;
							.flag{
								border-top-color: #fff;
								border-right-color: #fff;
							}
						}
					}
					
					a{
						color: @lead-blue-xdark;
						border-bottom: 2px solid @lead-blue-dark;
						padding: 4px 0;
						padding: 15px;
						position: relative;
						
						.flag{
							position: absolute;
							top: 1px;
							right: 1px;
							border: 7px solid transparent;
							border-top-color: @lead-blue-dark;
							border-right-color: @lead-blue-dark;
						}
						
						&:hover,
						&:focus{
							color: #fff;
							.flag{
								border-top-color: #fff;
								border-right-color: #fff;
							}
						}
						
						
					}
				}
			}
		}
	}
		
	.events{
		margin-top: 20px;
		.event{
			font-size: .8em;
			margin: 2px 0;
			overflow: hidden;
			.title{
				width: 80%;
				color: #fff;
				background-color: @lead-blue-dark;
				float: left;
				padding: 5px;
			}
			.date{
				width: 20%;
				color: #fff;
				background-color: @brand-primary;
				float: left;
				padding: 5px;
				text-align: center;
			}
			.description{
				padding: 5px;
			}
		}
	}
}




#dashboard{

	.couses-in-progress{
	  	text-align: center;
  		margin-top: 50px;
	}
	
	#calendar{
		margin-bottom: 25px;
		padding: 0;
		
		.all-months,
		.all-tasks{
			transition: 600ms;
			-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
			
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			
			&.active{
				-webkit-transform: rotateY(0);
				transform: rotateY(0);
			}
		}
		
		.all-months{
			.year-bar{
				background-color: @brand-primary;
				text-align: center;
				color: #fff;
				overflow: hidden;
				margin-bottom: 10px;
				
				a{
					display: inline-block;
					background-color: @lead-blue-light;
				}
				.year{
					display: inline-block;
					font-family: @lead-font-family;
					font-size: 1.2em;
	  				line-height: 36px;
				}
				.prev{
					float: left;
				}
				.next{
					float: right;
				}
			}
			
			.courses-list{
				select{
					width: 100%;
					background-color: transparent;
					padding: 6px;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					&::-ms-expand {
					    display: none;
					}  
					
					border: 1px solid @lead-gray-dark;
					background: url(../../imgs/br_select.png) no-repeat right;
				}
			}
			
			.months{
				margin-left: -10px;
				margin-right: -10px;
				
				.preload{
					margin-top: 40px;
				}
				
				li{
					padding: 0;
					
					>a,
					>div{
						height: 100px;
						margin: 10px;
						font-family: @lead-font-family-aux;
						background-color: @lead-gray-base;
						color: @lead-blue-xdark;
						border-bottom: 10px solid @lead-blue-xdark;
						display: block;
						font-size: .6em;
						text-align: center;
					
						div{
							font-size: 1.7em;
							text-align: left;
							padding: 0 10px;
						}
					}
					>div{
						background-color: @lead-gray-base;
					}
					>a{
						background-color: @brand-primary;
						font-family: @lead-font-family-aux;
						color: #fff;
						span{
							margin: 0 auto 5px auto;
							display: block;
							width: 35px;
							line-height: 35px;
							background: @lead-blue-xdark;
							text-align: center;
							vertical-align: middle;
							border-radius: 100px;
							font-size: 2em;
						}
					}
					
				}
			}
		}
		.all-tasks{
			position: absolute;
			width: 100%;
			.panel{
				min-height: 450px;
			}
			.back{
				color: @lead-blue-dark;
				font-family: @lead-font-family;
				span{
					border: 1px solid @lead-blue-dark;
					margin-bottom: 10px;
					border-radius: 100px;
					padding: 3px 12px;
					text-align: center;
					display: inline-block;
				}
			}
			
			.scroll{
				height: 350px;
			}
		}
	}
	
	#grades{
		margin-bottom: 25px;
		.panel{
			background: @lead-gray-light;
			margin-bottom: 0;
			.panel-body{
				padding: 15px;
				text-align: center;
			}
		}
		
		.courses-list{
			select{
				width: 100%;
				background-color: transparent;
				padding: 6px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				&::-ms-expand {
				    display: none;
				}
				border: 1px solid @lead-gray-dark;
				background: url(../../imgs/br_select.png) no-repeat right;
				
			}
		}
		
		.grade-description{
			
			.preload{
				margin-top: 40px;
				margin-bottom: 40px;
			}
			ul{
				margin: 25px 5px;
	  			overflow: hidden;
				li{
					text-align: center;
					font-size: .7em;
					span{
						  width: 100px;
						  display: block;
						  border-radius: 100px;
						  background-color: @lead-gray-dark;
						  line-height: 100px;
						  font-size: 2.5em;
						  margin: 10px auto;
					}
				}
			}
			
		}
	}
	
}


#admin{
	.bt-calendar,
	.bt-grade{
		padding: 40px;
		  padding: 30px 60px;
		  white-space: initial;
		  background-repeat: no-repeat;
		  background-position-y: bottom;
		  margin-bottom: 20px;
	}
	.bt-calendar{
		background-image: url(../../imgs/bg-bt_calendar.png);
	}
	.bt-grade{
		background-image: url(../../imgs/bg-bt_grade.png);
	}
	
	.block-title{
		text-align: center;
		.icon {
			background-color: @brand-primary;
			border: 5px solid @lead-blue-dark;
			border-radius: 100px;
			color: #fff;
			font-size: 1.8em;
			overflow: hidden;
			margin: 0 auto;
			margin-bottom: 20px;
			width: 70px;
			height: 70px;
			line-height: 60px;
		}
		
		.title{
			color: @lead-blue-dark;
			padding: 10px;
			display: inline-block;
			font-size: 1.1em;
			background-color: @lead-gray-xlight;
		}
		.stripes{
			border-top: 1px solid @brand-primary;
			border-bottom: 1px solid @brand-primary;
			height: 6px;
			margin-top: -26px;
			margin-bottom: 26px;
		}
	}
	
	.panel{
		.panel-heading{
			text-align: left;
			i{
				padding: 10px 12px;
				margin: -5px 10px -6px -15px;
				background-color: @lead-blue-dark;
			}
		}
	}
}

#profile{

	section#main{
		max-width: 800px; 
	}
	
	.user-picture{
		text-align: center;
		padding: 50px;
		
		img{
			widows: 150px;
			height: 150px;
			border-radius: 100px;
		}
		a{
			display: block;
			margin-top: 10px;
			font-size: 12px;
		}

	}
	
	form{
		padding-bottom: 50px;
	}
	
	.user-video{
		max-width: 370px;
		margin: 0 auto;
		margin-bottom: 25px;
		padding: 0;
		padding-top: 35px;
		@media (min-width: @screen-sm-max) {
			float: right;
		}
		label{
			
		}
		video{
			width: 100%;
			height: 163px;
			background: #000;
		}
		
	}
	
	button{
		margin-top: 6px;
	}
	
	#videoLibras{
		display: none;
	}
}

#lessons{
	.course-progress{
	  	text-align: center;
  		margin-top: 50px;
	}
	
	.lesson-list{
		max-width: 800px; 
		margin: 0 auto;
		margin-bottom: 50px;
		h5{
			background-color: @lead-blue-dark;
			color: #fff;
			text-align: center;
			padding: 5px;
		}
		
		ul{
			li{
				background-color: #fff;
				margin-bottom: 10px;
				overflow: hidden;
				
				a{
					display: block;
				
					.number{
						display: inline-block;
						padding: 7px;
						text-align: center;
						background-color: @lead-gray-base;
					}
					.title{
						display: inline-block;
						padding-left: 10px;
						line-height: 36px;
					}
					.status{
						display: inline-block;
						float: right;
						line-height: 36px;
						padding-right: 0;
						text-align: center;
						background-color: @lead-gray-base;
						i{
							float: right;
							padding: 10px;
							color: #fff;
							background-color: @lead-gray-xdark;
						}
					}
				}
				
				&.in-progress{
					background-color: @brand-primary;
					.number{
						color: #fff;
						background-color: @lead-blue-dark;
					}
					.title{
						color: #fff;
					}
					.status{
						background-color: @brand-success;
						color: #fff;
						i{
							background-color: darken(@brand-success, 15%);
						}
					}
				}
				
				&.done{
					.status{
						background-color: @brand-success;
						color: #fff;
						i{
							background-color: darken(@brand-success, 15%);
						}
					}
				}
			}
		}
	}
	
}


#products{
	border-bottom: 20px solid #fff;
	margin-top: 50px;
	margin-bottom: 50px;
	>h5{
		text-align: right;
	}
	
	.carousel{
		background-color: @lead-gray-base;
		padding: 50px;
		.item{
			.product-img{
				text-align: center;
				padding: 0;
			}
			.product-desc{
				h5{
					color: @brand-primary;
				}
				.btn{
					margin: 10px 0; 
				}
			}
		}
		.carousel-control{
			width: 5%;
			background: none;
			i{
				position: absolute;
				top: 50%;
				color: #000;
			}
			&.left{
				left: -10px;
			}
		}
	}
}

#oas{
	iframe{
		border: none;
		width: 100%;
	}
	
	.quiz{
		overflow: hidden;
		.pagination{
			background-color: @brand-primary;
			font-family: @lead-font-family;
			display: block;
			overflow: hidden;
			color: #fff;
			margin-top: 0;
			.title{
				line-height: 42px;
				padding-left: 10px;
			}
			ul{
				li{
					display: inline-block;
					a{
						background-color: @lead-blue-light;
						display: block;
						color: #fff;
						padding: 10px 15px;
						margin-left: 5px;
					}
				}
			}
		}
		.question{
			background-color: #fff;
			overflow: hidden;
			text-align: center;
			.text{
				margin-top: 30px;
				text-align: left;
			}
		}
		
		.options{
			margin-top: 30px;
			margin-bottom: 20px;
			label{
				padding-left: 3px;
			}
			input[type=radio]{
				opacity: 0;
				margin-right: -20px;
				cursor: pointer;
				height: 20px;
				width: 20px;
				&+span:before{
					content: " ";
					display: inline-block;
					width: 20px;
					height: 20px;
					border: 3px solid @lead-gray-xlight;
					border-radius: 100px;
					box-shadow: 0 0 0px 2px @brand-primary;
					margin-bottom: -3px;
					margin-right: 10px;
				}
				&:checked +span:before{
					background-color: @brand-primary;
				}
			}
		}
	}
	
	.forum{
		.post{
			margin-top: 20px;
			.header{
				background-color: @lead-gray-light;
				font-family: @lead-font-family;
				font-size: 1.4em;
				padding: 15px;
				img{
					width: 50px;
					height: 50px;
					border-radius: 100px;
					margin-right: 15px;
				}
				.date{
					font-size: .7em;
					color: @lead-blue-dark;
				}
			}
			.body{
				background-color: #fff;
				padding: 20px;
				
				.video{
					text-align: center;
					margin: 20px;
				}
				.attach{
					ul{
						overflow: hidden;
						margin: 10px;
						li{
							a{
								background-color: @lead-gray-xlight;
								color: @brand-primary;
								overflow: hidden;
								display: block;
								
								i{
									background-color: @lead-gray-dark;
									color: @lead-gray-xdark;
									padding: 6px 10px;
									margin-right: 5px;
								}
							}
						}
					}
				}
			}
			.footer{
				overflow: hidden;
				background-color: @brand-primary;
				button{
					font-size: 1.1em
					padding: 10px 50px;
					background-color: @lead-blue-xdark;
					color: #fff;
					&:hover,
					&:focus{
						background-color: lighten(@lead-blue-xdark, 10%);
					}
				}
			}
			
			.childrens{
				margin-left: 50px;
				@media (max-width: @screen-sm-max) {
					margin-left: 20px;
				}
			}
			
			&.main{
				>.childrens{
					margin-left: 0;
				}
			}
		}
		
		.pagination{
			li{
				a{
					font-family: @lead-font-family;
					background-color: transparent;
					border: 1px solid @brand-primary;
					padding: 6px 15px;
					margin: 5px;
					font-size: 22px;
					&:hover,
					&:focus{
						
					}
				}
				&.active{
					a{
						background-color: @brand-primary;
						color: #fff;
					}
				}
			}
		}
		
	}
}

#tutor{
	.block-title{
		text-align: center;
		background-color: @brand-primary;
		margin-top: 45px;
		.icon {
			background-color: darken(@lead-blue-dark, 8%);
			border: 5px solid @lead-blue-xdark;
			border-radius: 100px;
			color: #fff;
			font-size: 2.2em;
			overflow: hidden;
			margin: 0 auto;
			margin-top: -45px;
			width: 90px;
			height: 90px;
			line-height: 75px;
			display: inline-block;
		}
		
		.title{
			color: #fff;
			padding: 10px;
			font-family: @lead-font-family;
		}
	}
	
	.panel{
		.panel-heading{
			background-color: darken(@lead-blue-dark, 8%);
			padding: 15px;
		}
		.panel-body{
			padding: 0;
		}
		
		.oas{
			li{
				padding: 8px;
				a{
					color: #fff;
					background-color: @lead-blue-xdark;
					border-bottom: 7px solid darken(@lead-blue-dark, 8%);
					text-align: center;
					padding: 10px 3px;
					font-size: .7em;
					.badge{
						position: absolute;
						right: 3px;
						top: 3px;
						font-size: 1.2em;
						background: @brand-danger;
					}
					i{
						font-size: 2.2em;
						display: block;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}





#manager-forum-topic{
	#video{
		.panel{
			.panel-body{
				video{
					width: 100%;
				} 
			}
		}
	}
}



#videoConference{
	.page-title{
	  margin-bottom: 40px;
	}
	.panel{
		&.lead-panel{
			background-color: #fff;
			
			.panel-body{
				>div.col-md-6{
					.conference-item{
						border: 1px solid #000;
						padding: 10px;
						margin-bottom: 10px;
						overflow: hidden;
						strong{
							display: block;
							&+div{
								margin-bottom: 10px;
							}
						}
						
						.date,
						.time{
							padding: 0;
						}
						
						button {
							margin-bottom: 5px;
						}
					}
				}
				
				.more{
					margin-top: 10px;
					padding: 6px 50px;
				}
			}
		}
	}
	
	
}


#reportGrades{
	
	.export{
		padding: 20px 0;
		text-align: right;
	}

	#gradesAccordion{
		.panel-title{
			line-height: 2em;
			a{
				span{
					width: 40px;
					background-color: @lead-blue-xdark;
				}
				
				&.collapsed{
					span{
						i{
							transform: rotate(180deg);
						}
					}
				}
			}
		}
		
		.panel-body{
			padding: 0;
			.grade-lesson{
				padding: 15px;
				margin-bottom: 20px;
				text-align: center;
				background-color: #fff;
				
				.frequence,
				.status{
					padding: 10px;
				}
				
				.panel{
					.panel-body{
						background-color: @lead-gray-xlight;
						padding: 20px;
					}
					
					&.oas{
						display: inline-block;
						margin: 20px 0;
					}
				}
				
				ul.grades{
					display: inline-block;
					li{
						float: left;
						.title{
							background-color: @brand-primary;
							color: #fff;
							width: 120px;
							height: 60px;
							display: table-cell;
							vertical-align: middle;
							padding: 5px;
							font-size: .8em;
						}
						.grade{
							border: 1px solid @lead-gray-base;
							padding: 5px;
						}
						
						&:nth-of-type(even){
							.title{
								background-color: @lead-blue-xdark;
							}
						}
						
					}
				}
				
				@media (max-width: @screen-xs-max) {
					
					.panel{
						&.oas{
							display: block;
						}
					}
					
					ul.grades{
						display: block;
						li{
							width: 50%;
							.title{
								display: block;
								width: initial;
							}
						}
					}
				}
				
				
				.buttons{
					padding: 20px 0;
					text-align: right;
				}
				
			}
		}
	}
}

footer {
	background-color: @brand-primary;
	font-family: @lead-font-family;
	color: #fff;
	padding: 15px;
	font-size: .9em;
	text-align: right;
}



.signs-factory{
	font-family: museoregular, Arial, sans-serif;
	#accessibilityBar{
		background-color: #fff;
		.container{
			padding: 0;
		}
	}

	aside{
		margin-top: 60px;
		.logo{
			margin: 10px auto 30px auto;
    		display: block;
		}
		h6{
			color: @brand-primary;
			border-top: 1px solid @brand-primary;
			border-bottom: 1px solid @brand-primary;
			text-align: center;
			padding: 4px;
			font-size: 1.1em;
		}
		ul{
			li{
				a{
					display: block;
				    margin-bottom: 10px;
				    padding: 4px 12px;
				}
			}
		}

		form.search{
			input{
				width: 80%;
				float: left;
			}
			button{
				width: 20%;
				float: right;
				line-height: 24px;
				border-bottom: none;
			}
		}
	}

	nav{
	    border-bottom: 8px solid @brand-primary;
	    margin-top: 30px;
	    overflow: hidden;
	    ul.tabs{
	    	float: left;
	    	li{
	    		display: inline-block;
	    		a{
	    			background-color: @brand-primary-dark;
	    			color: #fff;
	    		    padding: 7px 15px;
    				display: block;

    				&.active{
    					background-color: @brand-primary;
    				}
	    		}
	    	}
	    }

	    ul.user-info{
			float: right;
			li{
				display: inline-block; 
				a{
					color: @brand-primary-dark;
					text-decoration: underline;
				    line-height: 34px;
				    display: block;
				}
			}
	    }
	}
	
	section#main{
		background-color: #fff;
		padding-bottom: 30px;
		overflow: hidden;

		.page-title{
			display: block;
		}
		.wrap-video{
		    margin-top: 30px;
		    margin-bottom: 30px;
		}
		.description{
			h6{
				color: @brand-primary;
			}
			a{
				color: @brand-primary;
				font-weight: bold;	
			}
		}

		.signs-group-title{
			margin-bottom: 5px;
			color: @brand-primary;
		}

		.signs-mask{
			position: relative;
			overflow: hidden;
			ul.signs-list{
				transition: .2s;
				li{
					display: inline-block;
				    width: 110px;
				    margin: 10px;
				    font-size: .9em;
				    .by{
						color: @brand-primary;
				    }
					&:first-child{
						margin-left: 35px;
					}
					&:last-child{
						margin-right: 35px;
					}
				   
				}
			}
			ul.controls{
				li{
					&.left,
				    &.right{
				    	position: absolute;
				    	top:10px;
					    z-index: 100;
					    a{
					    	color: #fff;
						    background-color: @brand-primary;
						    width: 30px;
						    text-align: center;
					    	line-height: 110px;	
					    	display: block;
					    }
				    }
				    &.right{
						right: 0;
				    }
				}
			}
		}
		
		.pagination{
			li{
				a{
					background-color: transparent;
					border: 1px solid @brand-primary;
					padding: 2px 12px;
					margin: 5px;
					font-size: 20px;
					&:hover,
					&:focus{
						
					}
				}
				&.active{
					a{
						background-color: @brand-primary;
						color: #fff;
					}
				}
			}
		}

		.comments{

			select.num-show{
				background-color: transparent;
				padding: 6px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				&::-ms-expand {
				    display: none;
				}  
				float: right;
	    		margin-top: -5em;
			    padding-right: 40px;
	    		color: @brand-primary;
				border: 1px solid @brand-primary;
				background: url(../../imgs/br_select_blue.png) no-repeat right;
			}
			.comments-list{
				li{
					div{
						padding: 10px;
						border: 1px solid @brand-primary;
						&.by{
							color: #fff;
							background-color: @brand-primary;
							text-align: right;
							margin-bottom: 20px;
						}

						video{
							width: 250px;
						}
					}

				}
			}
			
			
			.form-comment-wrap{
				#btnAddVideo,
				#btnAddFile{
					background-color: #fff;
				    border: 4px solid @brand-primary;
				    color: @brand-primary;
				    font-size: 30px;
				    line-height: 80px;
				    margin-bottom: 10px;
				  	
				    &:hover{
				    	background-color: @brand-primary;
				    	color: #fff;
				    }
				}

				.note-toolbar{
					background-color: @brand-primary;
				}
				.note-editable{
					border: 1px solid @brand-primary;	
				}
				button[type="submit"]{
					float: right;
    				padding: 6px 50px;
				}
			}

		}


	}

	#navigationBar{

	}

	#signsFactoryHome{
		
	}
}


@import 'high_contrast.less';
