@import '../../lib/bootstrap-3.3.4/less/bootstrap.less';

@font-size-base: 1.6em;


body{
	background: #F2F0F1;
	color: #403E3F;
}

ul{
	margin: 0;
	padding: 0;
	li{
		list-style: none;
	}
}

#wrapPage{
	margin-top: 5px;
}


#accessibilityBar{
	margin-bottom: 10px;
	ul{
		li{
			display: inline-block;
			margin-right: 5px; 
			span{
				font-size: 1.2em;
				background-color: #C9C9C9;
				padding: 0px 8px;
				width: 30px;
				display: inline-block;
				text-align: center;
			}
		}
	}
}
