@import '../../lib/bootstrap-3.3.4/less/bootstrap.less';

@brand-primary: #008CCA;
	@brand-primary-dark: darken(@brand-primary, 10%);
@brand-success: #89C251;
	@brand-success-dark: darken(@brand-success, 10%);
@brand-info: 	#5bc0de;
	@brand-info-dark: darken(@brand-info, 10%);
@brand-warning: #f0ad4e;
	@brand-warning-dark: darken(@brand-warning, 10%);
@brand-danger:  #DC5134;
	@brand-danger-dark: darken(@brand-danger, 10%);
@brand-purple:  #6F2586;
	@brand-purple-dark: darken(@brand-purple, 10%);

@font-size-base: 1.6em;
@input-height-base: 2.3em;


@font-size-h1: 3em;
@font-size-h2: 2.5em;
@font-size-h3: 2em;
@font-size-h4: 1.6em;
@font-size-h5: 1.3em;
@font-size-h6: 1em;


@icon-font-path: '../../lib/bootstrap-3.3.4/fonts/';


h4, .h4, h5, .h5, h6, .h6 {
	font-weight: normal;
	font-family: @lead-font-family
}

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

.btn{
	font-size: inherit;
	&.btn-primary{
		border-bottom: 5px solid @brand-primary-dark;
	}
	&.btn-success{
		border-bottom: 5px solid @brand-success-dark;
	}
	&.btn-info{
		border-bottom: 5px solid @brand-info-dark;
	}
	&.btn-warning{
		border-bottom: 5px solid @brand-warning-dark;
	}
	&.btn-danger{
		border-bottom: 5px solid @brand-danger-dark;
	}
	&.btn-purple{
		color: #fff;
		background-color: @brand-purple;
		border-bottom: 5px solid @brand-purple-dark;
		&:hover,
		&:focus{
			background-color: @brand-purple-dark;
		}
	}
}

.dropdown-menu{
	font-size: inherit;
	font-family: @lead-font-family;
}


.panel{
	border: none;
	box-shadow: none;
	.panel-heading{
		color: #fff;
		text-align: center;
		font-family: @lead-font-family;
	}
	
	&.panel-primary{
		.panel-heading{
			background-color: @brand-primary;
		}
	}
	&.panel-success{
		.panel-heading{
			background-color: @brand-success;
		}
	}
	&.panel-info{
		.panel-heading{
			background-color: @brand-info;
		}
	}
	&.panel-warning{
		.panel-heading{
			background-color: @brand-warning;
		}
	}
	&.panel-danger{
		.panel-heading{
			background-color: @brand-danger;
		}
	}
	&.panel-purple{
		.panel-heading{
			background-color: @brand-purple;
		}
	}
}

.form-control{
	font-size: 1em;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.form-group{
	margin-bottom: 25px;
}

label{
	font-weight: normal;
}

/********************/

.preload{
	text-align: center;
	.bar{
		width: 6px;
		height: 8px;
		background-color: @lead-gray-xdark;
		display: inline-block;
		-webkit-animation: preload 0.8s linear infinite;
		margin-left: 1px;
		margin-right: 1px;
		
		&.bar-2{
			-webkit-animation-delay: 0.266s;
		}
		&.bar-3{
			-webkit-animation-delay: 0.532s;
		}
	}
	@-webkit-keyframes preload{
		0%{ -webkit-transform: scaleY(1);}
		50%{ -webkit-transform: scaleY(3);}
		100%{ -webkit-transform: scaleY(1);}
	}
	@-moz-keyframes preload{
		0%{ -moz-transform: scaleY(1);}
		50%{ -moz-transform: scaleY(3);}
		100%{ -moz-transform: scaleY(1);}
	}
	@-ms-keyframes preload{
		0%{ -ms-transform: scaleY(1);}
		50%{ -ms-transform: scaleY(3);}
		100%{ -ms-transform: scaleY(1);}
	}
}


@font-face {
  font-family: 'museo';
  src: url('../../fonts/museo300/museosans-300-webfont.ttf');
  src: url('../../fonts/museo300/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/museo300/museosans-300-webfont.woff') format('woff'),
  url('../../fonts/museo300/museosans-300-webfont.ttf') format('truetype'),
  url('../../fonts/museo300/museosans-300-webfont.svg#museobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museobold';
  src: url('../../fonts/museo500/museosans_500-webfont.ttf');
  src: url('../../fonts/museo500/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/museo500/museosans_500-webfont.woff') format('woff'),
  url('../../fonts/museo500/museosans_500-webfont.ttf') format('truetype'),
  url('../../fonts/museo500/museosans_500-webfont.svg#museobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museobolder';
  src: url('../../fonts/museo700/museosans_700-webfont.ttf');
  src: url('../../fonts/museo700/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/museo700/museosans_700-webfont.woff') format('woff'),
  url('../../fonts/museo700/museosans_700-webfont.ttf') format('truetype'),
  url('../../fonts/museo700/museosans_700-webfont.svg#museobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museoregular';
  src: url('../../fonts/museoregular/Museo500-Regular-webfont.ttf');
  src: url('../../fonts/museoregular/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/museoregular/Museo500-Regular-webfont.woff') format('woff'),
  url('../../fonts/museoregular/Museo500-Regular-webfont.ttf') format('truetype'),
  url('../../fonts/museoregular/Museo500-Regular-webfont.svg#museobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@lead-gray-base: #DEDEDE;
@lead-gray-light: lighten(@lead-gray-base, 3%);
@lead-gray-xlight: lighten(@lead-gray-base, 8%);
@lead-gray-dark: lighten(@lead-gray-base, -8%);
@lead-gray-xdark: lighten(@lead-gray-base, -45%);

@lead-blue-light: lighten(@brand-primary, 5%);
@lead-blue-dark: lighten(@brand-primary, -5%);
@lead-blue-xdark: lighten(@brand-primary, -20%);

@lead-font-family: museoregular,Arial,sans-serif;



body{
	background: @lead-gray-xlight;
	color: @lead-gray-xdark;
	font-size: 16px;
}

ul{
	margin: 0;
	padding: 0;
	li{
		list-style: none;
	}
}

a{
	text-decoration: none !important;
	transition: .3s;
	color: inherit;
}

button{
	transition: .3s;
}


#wrapPage{
	margin-top: 5px;
}


#accessibilityBar{
	margin-bottom: 10px;
	font-family: @lead-font-family;

	ul{
		li{
			display: inline-block;
			margin-right: 5px; 
			span.key, a{
				font-size: 1.1em;
				background-color: @lead-gray-dark;
				padding: 4px 0;
				min-width: 34px;
				display: inline-block;
				text-align: center;
			}
		}
		a{
			&:hover,
			&:focus{
				color: inherit;
				background-color: @lead-gray-base;
			}
		}
	}
	
	&.margined-bottom{
		margin-bottom: 103px;	
	}
}


#navigationBar{
	background-color: @brand-primary;
	font-family: @lead-font-family;
	padding: 8px 0;
	margin: 0;
	border: none;
	
	&.fixed{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
	}
	
	img.logo{
		float: left;
	}
	
	.navbar-header{
		.navbar-toggle{
			.icon-bar{
				background-color: #fff;
			}
		}
	}
	
	ul{
		float: right;
		li{
			display: inline-block;
			a{
				color: #fff;
				font-size: 1.05em;
				margin-left: 10px;
  				padding: 5px;
				line-height: 75px;
				border-bottom: 5px solid transparent;
				&:hover,
				&:focus{
					border-bottom: 5px solid #fff;
				}
				
			}
		}
	}
	
	
	@media (max-width: @screen-sm-max) {
		img.logo{
			width: 120px;
		}
		ul{
			li{
				a{
					line-height: 50px;
				}
			}
			&.user-bar{
				border-top: 2px solid #fff;
       			li.user-item{
	       			background-color: @lead-blue-light;
					padding: 10px;
					text-align: left;
					color: #fff;
					
					ul{
						li{
							display: inline-block;
							a{
								border: none;
								border-radius: 100px;
								padding: 8px;
								&:hover,
								&:focus{
									background-color: @brand-primary;
									
								}
								i{
									width: 20px;
								}
							}
							&.exit{
								a{
									&:hover,
									&:focus{
										background-color: @brand-danger;
									}
								}
							}
						}
					}
					
       			}
       			img{
       				width: 55px;
       				border-radius: 100px;
       				border: 1px solid #fff;
       				padding: 2px;
       			}
			}
		}
	}
	
	@media (max-width: @screen-sm-min) {
		.navbar-collapse{
			margin-top: 8px;
		}
	
		ul{
			float: none;
			li{
				display: block;
				text-align: center;
				a{
					line-height: 50px;
				}
			}
		}
	}
	
}

#userBar{
	background-color: #fff;
	font-family: @lead-font-family;
	.container{
		padding: 0;
		>ul{
			>li{
				display: inline-block;
				>a{
					padding: 12px;
	  				display: block;
					&:hover,
					&:focus{
						//background-color: @lead-blue-dark;
					}
				}
			}
		}
		
		#userButton{
			>a{
	  			display: block;
	  			
				img{
					width: 40px;
					border-radius: 100px;
					margin-right: 5px;
				}
	  			i{
					line-height: 45px;
					width: 40px;
					margin-left: 10px;
					text-align: center;
					border-left: 1px solid @lead-gray-dark;
					border-right: 1px solid @lead-gray-dark;
	  			}
	  			
			}
			ul{
				text-align: center;
				background-color: @brand-primary;
				padding: 4px;
				li{
					a{
						color: #fff;
						padding: 5px 60px;
						&:hover,
						&:focus{
							background-color: @lead-blue-xdark;
						}
					}
				}
			}
		}
	}
	
}

#breadcrumb{
	font-family: @lead-font-family;
	margin-top: 30px;
  	font-size: 0.8em;
	ul{
		li{
			display: inline-block;
			i{
				font-size: .9em;
			}
		}
	}
}

section#main{

	h1.page-title,
	h2.page-title,
	h3.page-title,
	h4.page-title,
	h5.page-title,
	h6.page-title{
		color: @brand-primary;
		border-top: 1px solid @brand-primary;
		border-bottom: 1px solid @brand-primary;
		text-align: center;
		display: table;
		margin: 0 auto;
		margin-top: 40px;
	}
}

#dashboard{

	.couses-in-progress{
	  	text-align: center;
  		margin-top: 50px;
		
		.pie-chart{
			display: inline-block;
	  		background-color: @lead-blue-dark;
	  		border-radius: 100px;
			margin: 40px;
			position: relative;
			canvas{
				margin: -10px;
		  	}
		  	span{
		  		font-family: @lead-font-family;
				position: absolute;
				width: 100%;
				text-align: center;
				top: 50%;
				font-size: 22px;
				color: #fff;
				padding: 0 20px;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
		  	}
		}
	}
	
	#calendar{
		margin-bottom: 25px;
		overflow: hidden;
		.year-bar{
			background-color: @brand-primary;
			text-align: center;
			color: #fff;
			overflow: hidden;
			margin-bottom: 10px;
			
			a{
				display: inline-block;
				background-color: @lead-blue-light;
			}
			.year{
				display: inline-block;
				font-family: @lead-font-family;
				font-size: 1.2em;
  				line-height: 36px;
			}
			.prev{
				float: left;
			}
			.next{
				float: right;
			}
		}
		
		.courses-list{
			select{
				width: 100%;
				background-color: transparent;
				padding: 6px;
				-webkit-appearance: none;
				-moz-appearance: none;
				background: url(../../imgs/br_select.png) no-repeat right;
			}
		}
		
		.months{
			margin-left: -10px;
			margin-right: -10px;
			
			.preload{
				margin-top: 40px;
			}
			
			li{
				padding: 0;
				
				>a,
				>div{
					height: 100px;
					margin: 10px;
					background-color: @lead-gray-base;
					border-bottom: 10px solid @lead-blue-xdark;
					display: block;
					font-size: .7em;
					text-align: center;
				
					div{
						font-size: 1.5em;
						text-align: left;
						padding: 0 10px;
					}
				}
				>div{
					background-color: @lead-gray-base;
				}
				>a{
					background-color: @brand-primary;
					color: #fff;
					span{
						margin: 0 auto 5px auto;
						display: block;
						width: 35px;
						line-height: 35px;
						background: @lead-blue-xdark;
						text-align: center;
						vertical-align: middle;
						border-radius: 100px;
						font-size: 2em;
					}
				}
				
			}
		}
		
	}
	
	#inbox{
		margin-bottom: 25px;
		.table{
			thead{
				tr{
					th{
						font-family: @lead-font-family;
						border: 1px solid @lead-gray-xdark !important;
						font-weight: normal;
						color: @lead-gray-xdark;
					}
				}
			}
			tbody{
				tr{
					td{
						img{
							border-radius: 100px;
							width: 45px;
						  	height: 45px;
						}
						vertical-align: middle;
					}
				}
			}
		}
	
	}
	
	#videoConference{
		margin-bottom: 25px;
		.panel{
			background: none;
			.panel-heading{
				border-bottom: 10px solid @brand-success-dark;
			}
			.panel-body{
				text-align: center;
			}
		}
		
		ul{
			 margin: 30px 10px;
			a{
				text-decoration: underline !important;
			}
		}
	}
	
	#grades{
		margin-bottom: 25px;
		.panel{
			background: @lead-gray-light;
			margin-bottom: 0;
			.panel-heading{
				border-bottom: 10px solid @brand-purple-dark;
			}
			.panel-body{
				text-align: center;
			}
		}
		
		.courses-list{
			select{
				width: 100%;
				background-color: transparent;
				padding: 6px;
				-webkit-appearance: none;
				-moz-appearance: none;
				background: url(../../imgs/br_select.png) no-repeat right;
				
			}
		}
		
		.grade-description{
			
			.preload{
				margin-top: 40px;
				margin-bottom: 40px;
			}
			ul{
				margin: 25px 5px;
	  			overflow: hidden;
				li{
					text-align: center;
					font-size: .7em;
					span{
						  width: 100px;
						  display: block;
						  border-radius: 100px;
						  background-color: @lead-gray-dark;
						  line-height: 100px;
						  font-size: 2.5em;
						  margin: 10px auto;
					}
				}
			}
			
		}
	}
	
}


#profile{

	section#main{
		max-width: 800px; 
	}
	
	.user-picture{
		text-align: center;
		padding: 50px;
		
		img{
			widows: 150px;
			height: 150px;
			border-radius: 100px;
		}
	}
	
	form{
		padding-bottom: 50px;
	}
	
	.user-video{
		text-align: center;
		max-width: 370px;
		margin: 0 auto;
		margin-bottom: 25px;
		padding: 0;
		@media (min-width: @screen-sm-max) {
			float: right;
		}
		video{
			width: 100%;
			height: 190px;
		}
		button{
			margin-top: 6px;
		}
	}
	
	#videolibras{
		display: none;
	}
}


#products{
		
	border-bottom: 20px solid #fff;
	margin-bottom: 50px;
	
	>h5{
		text-align: right;
	}
	
	.carousel{
		background-color: @lead-gray-base;
		padding: 50px;
		.item{
			.product-img{
				text-align: center;
				padding: 0;
			}
			.product-desc{
				h5{
					color: @brand-primary;
				}
				.btn{
					margin: 10px 0; 
				}
			}
		}
		.carousel-control{
			width: 5%;
			background: none;
			i{
				position: absolute;
				top: 50%;
				color: #000;
			}
			&.left{
				left: -10px;
			}
		}
	}
	
}


footer {
	background-color: @brand-primary;
	font-family: @lead-font-family;
	color: #fff;
	padding: 15px;
	font-size: .9em;
	text-align: right;
}
